<md-tab-group>
  <md-tab>
    <template md-tab-label>Map</template>
    <template md-tab-content>
      <map></map>
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>Pokebank</template>
    <template md-tab-content>
      <pokebank></pokebank>
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>Log</template>
    <template md-tab-content>
      <log></log>
    </template>
  </md-tab>
</md-tab-group>
<button md-fab (click)="refresh()">
  <md-icon>refresh</md-icon>
</button>
