.log {
  height: 10em;
  overflow-y: auto;
  border: 1px solid grey;
}
.message-green {
  background-color: green;
}
.message-yellow {
  background-color: yellow;
}
.message-magenta {
  background-color: magenta;
}
